@model List<BookModel>
@{
    ViewData["Title"] = "Listagem de livros";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Livro" asp-action="Criar">Adicionar novo livro</a>
    </div>
    <br />

    <h1 class="display-4">Listagem de livros</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ano de Lançamento</th>
                <th scope="col">Autor/Autora</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (BookModel book in Model)
                {
                    <tr>
                        <th scope="row">@book.Id</th>
                        <td>@book.NameBook</td>
                        <td>@book.Year</td>
                        <td>@book.Name</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@book.Id" asp-controller="Livro" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@book.Id" asp-controller="Livro" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
